@page "/settings"
@using FastGamePanel.Services; 
@using FastGamePanel.Common;
@inject DisplaySettingService displayService;
@inject PowerSettingService powerService;
@inject RemappingService remappingService;
@implements IDisposable

<h3>Display Settings</h3>
<label role="status">Display Settings</label>
<select class="btn" @bind="targetResolution">
    @foreach (var resolution in supportedResolutions)
    {
        <option value="@resolution">@resolution</option>
    }
</select>
<select class="btn" @bind="targetFrequency">
    @foreach (var frequency in supportedFrequencies)
    {
        <option value="@frequency">@frequency</option>
    }
</select>
<br/>
<h3>Power Settings</h3>
<label role="status">Power Mode</label>
<select class="btn" @bind="targetPowerMode">
    @foreach (var mode in (PowerMode[])Enum.GetValues(typeof(PowerMode)))
    {
        <option value="@mode">@mode</option>
    }
</select>
<br/>
<button class="btn btn-primary" @onclick="UpdateSettings">Apply</button>


<h3>Key Mappings</h3>
<label role="status">Key Mapping @isRemappingEnabled</label>
<br/>
<button class="btn btn-primary" @onclick="ToggleKeyRemapping">Switch</button>
<br/>
<label role="status">Key Pressed: @pressedKeyCode</label>
<br/>
<button class="btn btn-primary" @onclick="SwitchKeystrokeListenState">
    @(isListeningKeystroke ? "Stop listening" : "Start Listening")
</button>


@code {

    #region display settings variables
    private string originFrequency;
    private string originResolution;
    private string targetFrequency;
    private string targetResolution;
    public List<DisplayMode> supportedDisplayModes = new List<DisplayMode>();
    private List<string> supportedResolutions
    {
        get
        {
            return supportedDisplayModes
            .Select(x => $"{x.width}x{x.height}")
            .ToHashSet()
            .ToList();
        }
    }
    private List<string> supportedFrequencies
    {
        get
        {
            if (string.IsNullOrEmpty(targetResolution))
            {
                return new List<string>();
            }
            var resParams = targetResolution.Split("x");
            var width = int.Parse(resParams[0]);
            var height = int.Parse(resParams[1]);
            return supportedDisplayModes
            .Where(x => x.width == width && x.height == height)
            .Select(x => $"{x.frequency}Hz")
            .ToHashSet()
            .ToList();
        }
    }
    #endregion

    #region power mode variables
    private string originPowerMode;
    private string targetPowerMode;
    #endregion

    #region key mapping variables
    private int? pressedKeyCode = null;
    private bool isRemappingEnabled = false;
    private bool isListeningKeystroke = false;
    private CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();
    private Task keystrokeListeningTask;
    #endregion

    protected override void OnInitialized()
    {
        var mode = displayService.GetCurrentDisplayMode();
        originResolution = targetResolution = $"{mode.width}x{mode.height}";
        originFrequency = targetFrequency = $"{mode.frequency}Hz";
        originPowerMode = targetPowerMode = powerService.GetPowerMode().ToString();
        supportedDisplayModes = displayService.GetSupportedDisplayModes();
        remappingService.SetKeyboardHook();
        isRemappingEnabled = remappingService.GetIsRemappingEnabled();
    }

    public void Dispose()
    {
        remappingService.UnsetKeyboardHook();
    }

    private void UpdateDisplaySettings()
    {
        if (string.IsNullOrEmpty(targetResolution) || string.IsNullOrEmpty(targetFrequency))
        {
            return;
        }
        var resParams = targetResolution.Split("x");
        var width = int.Parse(resParams[0]);
        var height = int.Parse(resParams[1]);
        var frequency = int.Parse(targetFrequency.Replace("Hz", ""));
        displayService.ChangeDisplaySettings(width, height, frequency);
    }

    private void UpdatePowerMode()
    {
        if (string.IsNullOrEmpty(targetPowerMode))
        {
            return;
        }
        var powerMode = Enum.GetValues(typeof(PowerMode)).Cast<PowerMode>().ToList().Find(x => x.ToString() == targetPowerMode);
        powerService.SwitchPowerMode(powerMode);
    }

    public void UpdateSettings()
    {
        if (originFrequency != targetFrequency || originResolution != targetResolution)
        {
            UpdateDisplaySettings();
            originFrequency = targetFrequency;
            originResolution = targetResolution;
        }
        if (originPowerMode != targetPowerMode)
        {
            UpdatePowerMode();
            originPowerMode = targetPowerMode;
        }
        OnInitialized();
    }

    public void ToggleKeyRemapping()
    {
        isRemappingEnabled = !isRemappingEnabled;
        if (isRemappingEnabled)
        {
            remappingService.EnableRemapping();
        }
        else
        {
            remappingService.DisableRemapping();
        }
    }

    public void SwitchKeystrokeListenState()
    {
        if (!isListeningKeystroke)
        {
            keystrokeListeningTask = GetNextPressedKey(cancellationTokenSource.Token);
        }
        isListeningKeystroke = !isListeningKeystroke;
    }

    public async Task GetNextPressedKey(CancellationToken token)
    {
        var keyCode = await remappingService.GetNextKeystroke();
        if (!token.IsCancellationRequested)
        {
            pressedKeyCode = keyCode;
            this.StateHasChanged();
            if (isListeningKeystroke)
            {
                keystrokeListeningTask = GetNextPressedKey(token);
            }
        }
    }
}
